<!-- Modal -->
<div class="modal fade" id="consalting-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          {%include /icons/close.svg%}
        </button>
        <div class="container">
          <h2>Консалтинг</h2>
          <div class="row">
            <div class="col-lg-10">
              <p>Платформа Flexberry предоставляет консалтинговые услуги с участием экспертов в области разработки и
                внедрения информационных систем. С помощью наших экспертов вы сможете решить следующие задачи:</p>
              <ul>
                <li>Провести экспертизу уже реализованных проектов в сфере создания и внедрения информационных систем;
                </li>
                <li>Создание грамотного технического задания на разработку и внедрение информационных систем;</li>
                <li>Разработка рекомендаций по направлениям развития и оптимизации существующего информационного
                  ландшафта предприятия.</li>
              </ul>
              <h3 id="экспертиза-проектов">Экспертиза проектов</h3>
              <p>В случаях, когда необходимо проверить рациональность и целесообразность затрат в проектах в области
                разработки и внедрения информационных систем, проводится экспертиза проекта при помощи внешних
                экспертов.<br> Эксперты платформы Flexberry проанализируют цели проекта, технические требования к
                проекту, предлагаемые решения и сделают оценку на соответствие проекта:</p>
              <ul>
                <li>Поставленным целям и задачам;</li>
                <li>Cовременному уровню информационных технологий;</li>
                <li>Нормативным требованиям (стандартам) в области информационных технологий.</li>
              </ul>
              <p><a href="https://designer.flexberry.net/#/fd-request-consulting/new" class="btn btn-md btn-outline" target="_blank">Подать заявку на выполнение экспертизы проекта</a></p>
              <h3 id="составление-технического-задания">Составление технического задания</h3>
              <p>Эксперты платформы Flexberry имеют испытанную методологию составления технических заданий на разработку
                и внедрение информационных систем.<br> На первой стадии работ по проекту производится предварительное
                обследование. На данном этапе разрабатывается и представляется на утверждение заказчику общее видение
                того, как будет построено и внедрено решение на предприятии.<br> Далее проводится полный анализ
                бизнес-процессов и требований клиента. Основные тапы анализа:</p>
              <ul>
                <li>Создание развернутого описания предметной области;</li>
                <li>Детализация бизнес-процессов;</li>
                <li>Подготовка и согласование требований к информационной системе в ходе интервью и встреч с
                  сотрудниками заказчика;</li>
                <li>Разработка концепции и архитектуры решения;</li>
                <li>Разработка технического задания;</li>
                <li>Согласование технического задания с заказчиком.</li>
              </ul>
              <p><a href="https://designer.flexberry.net/#/fd-request-consulting/new" class="btn btn-md btn-outline" target="_blank">Подать заявку на составление ТЗ</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
