<!-- Modal -->
<div class="modal fade" id="development-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          {%include /icons/close.svg%}
        </button>
        <div class="container">
          <h2>Заказная разработка ПО</h2>
          <div class="row">
            <div class="col-lg-10">
              <p>Платформа Flexberry предоставляет услуги по реализации проектов по разработке и внедрению
                информационных систем.</p>
              <p> Специалисты платформы обладают обширными компетенциями в области разработки
                решений для предприятий с различным уровнем сложности внутренних бизнес-процессов. Глубокая проработка
                потребностей заказчиков и подробный анализ их деятельности позволяют создавать информационные системы,
                максимально соответствующие задачам наших клиентов.</p>
              <p> Опыт работы специалистов платформы на рынке
                информационных технологий и преимущества используемых технологий разработки позволяют гарантировать не
                только успех проектов по разработке и внедрению информационных систем, но и обеспечивать поддержку
                внедренного программного продукта, а также его дальнейшее совершенствование по мере развития бизнеса
                заказчика.</p>
              <h3 id="автоматизация-бизнес-процессов">Автоматизация бизнес-процессов</h3>
              <p>Платформа Flexberry предоставляет услуги по решению всего комплекса задач, связанных с автоматизацией
                бизнес-процессов любой сложности:</p>
              <ul>
                <li>Автоматизация процессов сбора, обработки и анализа информации;</li>
                <li>Организация информационного обмена между взаимодействующими службами и подразделениями;</li>
                <li>Повышение контроля над обработкой данных;</li>
                <li>Повышение скорости обработки информации и принятия решений;</li>
                <li>Автоматизация получения отчетов, аналитической и статистической информации.</li>
              </ul>
              <p>В разработках используются инструменты и компоненты платформы Flexberry, что обеспечивает качество,
                гибкость и масштабируемость создаваемых систем.</p>
              <h3 id="анализ-данных">Анализ данных</h3>
              <p>Платформа Flexberry предлагает полный комплекс работ по разработке и внедрению аналитических
                систем.</p>
              <p> Аналитические системы позволяют сокращать время и повышать эффективность принятия решений, а
                также выявлять скрытые закономерности развития различных ситуаций и прогнозировать их развитие.</p>
              <p>Инструменты платформы Flexberry в области аналитических систем используют технологии многомерного и
                интеллектуального анализа данных.</p>
              <p> Системы многомерного анализ данных предоставляют следующие
                ключевые возможности:</p>
              <ul>
                <li>Выполнение произвольных запросов к данным, их многомерный анализ и формирования интерактивных
                  отчетов конечным пользователем без написания какого-либо программного кода;</li>
                <li>Отображение аналитических данных в виде таблиц, графиков, диаграмм и картографических представлений;
                  возможность быстрого переключения между ними;</li>
                <li>Сохранение динамически сформированных отчетов в базе данных системы, их последующего просмотра и
                  сравнения;</li>
                <li>Регламентированный доступ к отчетам на основе данных о пользователях.</li>
              </ul>
              <p>Системы интеллектуального анализа позволяют извлекать закономерности из данных, выявлять зависимости
                между различными факторами, строить прогнозы. Основу интеллектуального анализа составляют математические
                методы.</p>
              <h3 id="интеграция-систем">Интеграция систем</h3>
              <p>Нередко в организациях параллельно существует несколько информационных систем, решающих различные
                задачи. В большинстве случаев, эти информационные системы используют для обработки однотипные массивы
                данных. Для минимизации ввода однотипных данных и синхронизации процессов прохождения информации в
                различных информационных системах компании применяют различные технологии интеграции.</p>
              <p> Для решения
                интеграционных задач платформа Flexberry предлагает своим заказчикам использование корпоративной
                сервисной шины. Такой подход позволяет сохранить средства, вложенные в уже существующие информационные
                системы, а также сэкономить средства на переобучение персонала при внедрении новых систем, решающих
                комплексные задачи Сервис интеграции систем <a class="styled-link" href="/ru/developers-flexberry-servicebus.html">Flexberry Service Bus</a> - это универсальное средство интеграции систем посредством обмена сообщениями. <a class="styled-link" href="/ru/developers-flexberry-servicebus.html">Flexberry Service Bus</a> позволяет постепенно и с
                наименьшими затратами интегрировать существующие и вновь создаваемые информационные системы.</p>
              <h3 id="разработка-мобильных-приложений">Разработка мобильных приложений</h3>
              <p>Стремительный рост рынка мобильных устройств и доступность беспроводного доступа в Интернет диктуют
                новые стандарты. Пользователь должен иметь возможность:</p>
              <ul>
                <li>Получить доступ к своим данным из любой точки мира;</li>
                <li>Быть всегда в курсе дел, происходящих в его организации;</li>
                <li>Получать доступ к информационным ресурсам своей организации с любых доступных устройств, в том числе
                  мобильных.</li>
              </ul>
              <p>Инструменты платформы Flexberry позволяют создавать решения для мобильных платформ Apple iOS, Google
                Android и других.</p>
              <a href="https://designer.flexberry.net/#/fd-request-development/new" class="btn btn-md btn-outline"
                target="_blank">подать заявку на реализацию проекта</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
