<!-- Modal -->
<div class="modal fade" id="mvp-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          {%include /icons/close.svg%}
        </button>
        <div class="container">
          <h2>Быстрая разработка MVP</h2>
          <div class="row">
            <div class="col-lg-10">
              <p>Мы предлагаем услугу по созданию работающего прототипа приложения с базой данных по вашему описанию за
                фиксированную цену и срок.</p>
              <p>Это идеальное решение для выполнения демонстрации идеи будущего приложения на этапе заключения договора
                на заказную разработку. Наличие работающего прототипа приложения - это огромный плюс. Ни одна
                презентация или даже “кликабельный” макет не заменит живую демонстрацию функций будущего приложения.
                Закажите разработку у нас, чтобы сэкономить время, деньги и нервы: не отвлекать своих программистов на
                создание прототипа или не связываться с фрилансерами.</p>
              <h3 id="команда">Команда</h3>
              <p>Наша компания имеет богатый опыт разработки программного обеспечения. Мы применяем самые современные
                подходы и решения промышленного уровня. Правильный процесс разработки позволяет добиваться небольшой
                стоимости работ при неизменном уровне качества и соблюдении сроков.</p>
              <h3 id="тарифы">Тарифы</h3>
              <ul>
                <li><code class="highlighter-rouge">Student</code> - 5 000 р, 24ч, до 10 классов, 1 специальная форма,
                  UML-модели с описанием и код</li>
                <li><code class="highlighter-rouge">Pro</code> - 15 000 р, 48ч, до 20 классов, 2 специальные формы,
                  UML-модели с описанием и код</li>
                <li><code class="highlighter-rouge">Enterprise</code> - 30 000 р., 72ч, до 30 классов, 5 специальных
                  форм, UML-модели с описанием и код</li>
                <li><code class="highlighter-rouge">Ultimate</code> - по договорённости</li>
              </ul>
              <h3 id="результат">Результат</h3>
              <p>Приложение будет полностью работоспособным (веб + мобильное), в нём можно вводить и искать данные,
                заказчику передаётся весь исходный код, который при желании можно дорабатывать. Также вам будет передан
                весь созданный набор UML-диаграмм и документация, созданная по ним.</p>
                
                <h3>Подать заявку</h3>
                <script src="https://yastatic.net/q/forms-frontend-ext/_/embed.js"></script>
                <iframe src="https://forms.yandex.ru/u/5df2401040337d159ed040c0/?iframe=1" frameborder="0" name="ya-form-5df2401040337d159ed040c0" width="650"></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
