<!-- Footer -->
<footer class="page-footer font-small mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 d-flex">
          <div class="mr-3">{%include /icons/logo-footer.svg%}</div>
          <div><span>@ ООО "Новая платформа"</span><br>
            Россия, г. Пермь<br>
            ул. Н.Островского, 99, оф. 412<br>
          </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="mailto:info@neoplatform.ru">info@neoplatform.ru</a><br>
        <a href="tel:+73422030486">+7 (342) 203-04-86</a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
      </div>
    </div>
  </div>
</footer>
