@mixin circle {
  position: absolute;
  border-radius: 100%;
  
}

@mixin circle-big {
  width: 52px;
  height: 52px;
  background-color: $primaryColor;
}

@mixin circle-md {
  width: 25px;
  height: 25px;
  background-color: #E4E4E4;
}

.circle-1 {
  @include circle;
  @include circle-big;
  top: 25%;
  left: -13%;
  transform: 1000ms ease-out 0ms;
  -webkit-animation: balloon1 8s ease-in-out infinite;
  -moz-animation: balloon1 8s ease-in-out infinite;
  -o-animation: balloon1 8s ease-in-out infinite;
  animation: balloon1 8s ease-in-out infinite;
}

.circle-2 {
  @include circle;
  @include circle-big;
  top: 120%;
  left: 114%;
  -webkit-animation: balloon2 6s ease-in-out infinite;
  -moz-animation: balloon2 6s ease-in-out infinite;
  -o-animation: balloon2 6s ease-in-out infinite;
  animation: balloon2 6s ease-in-out infinite;
}

.circle-3 {
  @include circle;
  @include circle-md;
  top: -7%;
  left: 17%;
  -webkit-animation: balloon2 3s ease-in-out infinite;
  -moz-animation: balloon2 3s ease-in-out infinite;
  -o-animation: balloon2 3s ease-in-out infinite;
  animation: balloon2 3s ease-in-out infinite;
}

.circle-4 {
  @include circle;
  @include circle-md;
  top: 43%;
  left: -4%;
  -webkit-animation: balloon3 5s ease-in-out infinite;
  -moz-animation: balloon3 5s ease-in-out infinite;
  -o-animation: balloon3 5s ease-in-out infinite;
  animation: balloon3 5s ease-in-out infinite;
}

.circle-5 {
  @include circle;
  @include circle-md;
  top: 41%;
  left: 46%;
  -webkit-animation: balloon1 5s ease-in-out infinite;
  -moz-animation: balloon1 5s ease-in-out infinite;
  -o-animation: balloon1 5s ease-in-out infinite;
  animation: balloon1 5s ease-in-out infinite;
}

.circle-6 {
  @include circle;
  @include circle-md;
  top: 7%;
  left: 114%;
  -webkit-animation: balloon3 5s ease-in-out infinite;
  -moz-animation: balloon3 5s ease-in-out infinite;
  -o-animation: balloon3 5s ease-in-out infinite;
  animation: balloon3 5s ease-in-out infinite;
}

.circle-7 {
  @include circle;
  @include circle-md;
  top: 61%;
  left: 39%;
  background-color: #00D915;
  -webkit-animation: balloon4 6s ease-in-out infinite;
  -moz-animation: balloon4 6s ease-in-out infinite;
  -o-animation: balloon4 6s ease-in-out infinite;
  animation: balloon4 6s ease-in-out infinite;
}

@mixin green-bg {
  position: absolute;
}

/*BALLOON 1 4*/
@-webkit-keyframes balloon1 {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translate(-20px);
  }
}
@-moz-keyframes balloon1 {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translate(-20px);
  }
}
@-o-keyframes balloon1 {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translate(-20px);
  }
}
@keyframes balloon1 {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translate(-20px);
  }
}

/* BAllOON 2 5*/
@-webkit-keyframes balloon2 {
  0%, 100% {
      -webkit-transform: translateY(0);
  }
  50% {
      -webkit-transform: translateY(-30px);
  }
}
@-moz-keyframes balloon2 {
  0%, 100% {
      -moz-transform: translateY(0);
  }
  50% {
      -moz-transform: translateY(-30px);
  }
}
@-o-keyframes balloon2 {
  0%, 100% {
      -o-transform: translateY(0);
  }
  50% {
      -o-transform: translateY(-30px);
  }
}
@keyframes balloon2 {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-30px);
  }
}

@-webkit-keyframes balloon3 {
  0%, 100% {
      -webkit-transform: translate(0, -10px);
  }
  50% {
      -webkit-transform: translate(-20px, 30px);
  }
}
@-moz-keyframes balloon3 {
  0%, 100% {
      -moz-transform: translate(0, -10px);
  }
  50% {
      -moz-transform: translate(-20px, 30px);
  }
}
@-o-keyframes balloon3 {
  0%, 100% {
      -o-transform: translate(0, -10px);
  }
  50% {
      -o-transform: translate(-20px, 30px);
  }
}
@keyframes balloon3 {
  0%, 100% {
      transform: translate(0, -10px);
  }
  50% {
      transform: translate(-20px, 30px);
  }
}

@-webkit-keyframes balloon4 {
  0%, 100% {
      -webkit-transform: translate(10px, -10px);
  }
  50% {
      -webkit-transform: translate(-15px, 20px);
  }
}
@-moz-keyframes balloon4 {
  0%, 100% {
      -moz-transform: translate(10px, -10px);
  }
  50% {
      -moz-transform: translate(-15px, 10px);
  }
}
@-o-keyframes balloon4 {
  0%, 100% {
      -o-transform: translate(10px, -10px);
  }
  50% {
      -o-transform: translate(-15px, 10px);
  }
}
@keyframes balloon4 {
  0%, 100% {
      transform: translate(10px, -10px);
  }
  50% {
      transform: translate(-15px, 10px);
  }
}