/* ====================
        Navbar
==================== */
.navbar {
  padding-top: 60px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  &-brand {
    font-size: 44px;
    font-weight: 700;
    img {
      height: 45px;
      margin-right: 25px;
    }
  }

  &.sticky {
    background: #fff;
    padding-top: 0.5rem;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.10);
  }
}
.nav-item:not(:last-child) {
  margin-right: 1em;
}
.nav-link {
  font-size: 18px;
  position: relative;
  white-space: nowrap;
  color: $textColor;
  &::before {
    content: '';
    height: 3px;
    width: 0;
    background: $primaryColor;
    position: absolute;
    left: 0.5rem;
    bottom: 0;
    transition: width 0.3s;
  }
  &.active::before,
  &:hover::before {
    width: calc(100% - 1rem);
  }
}

/* Navbar mobile */
.navbar-dark .navbar-toggler {
  border-color: transparent;
}

.navbar-toggler .icon-bar {
  background-color: $textColor;
  border-radius: 2px;
  display: block;
  height: 3px;
  width: 25px;

  + .icon-bar {
    margin-top: 4px;
  }
}

.icon-bar,
.navbar-toggler .icon-bar,
.navbar-toggler.toggle-clicked .icon-bar {
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
}

.navbar-toggler.toggle-clicked .icon-bar:nth-child(1) {
  transform: rotate(-43deg);
  margin-left: -27px !important;
  min-width: 31px;
}

.navbar-toggler.toggle-clicked .icon-bar:nth-child(2) {
  transform: rotate(43deg);
  margin-left: -27px !important;
  margin-top: -3px !important;
  min-width: 31px;
}

.navbar-toggler.toggle-clicked .icon-bar:nth-child(3) {
  transform: rotate(37deg);
  margin-left: -1px !important;
  width: 21px !important;
  opacity: 0;
  margin-top: -2px;
}


@media (max-width: 1200px) {
  .navbar {
    padding-top: 20px;
    &-shrink {
      padding-top: 0.5rem;
    }
    &-brand {
      font-size: 18px;
      img {
        height: 70px;
      }
    }
  }
}

@media (max-width: 768px) {
  .navOpened .navbar {
    background-color: #fff;
  }

  .navbar-nav {
    height: 100vh;
    margin-top: 2em;
    margin-left: 60px !important;
  }

  .navbar {
    padding-top: 20px;
    &-shrink {
      padding-top: 0.5rem;
    }
    &-brand {
      font-size: 18px;
      img {
        height: 47px;
        margin-right: 10px;
      }
    }
  }

  .nav-link {
    font-size: 24px;
    &::before {
      display: none;
    }
    &.active {
      font-weight: bold;
  
    }
  }
}